USE [master]
GO
/****** Object:  Database [PerfumeSalon1]    Script Date: 23.05.2024 9:39:05 ******/
CREATE DATABASE [PerfumeSalon1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerfumeSalon1', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PerfumeSalon1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PerfumeSalon1_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PerfumeSalon1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerfumeSalon1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerfumeSalon1]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 23.05.2024 9:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Note] [nvarchar](64) NULL,
	[NoteGroup] [int] NULL,
 CONSTRAINT [PK__Notes__3213E83F9DFE496C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[SearchNote]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[SearchNote]
(
@noteGroupId int, 
@search nvarchar(64)
)
returns table as return
(select TOP(500) [id],[Note],[NoteGroup] from [dbo].[Note]
where [NoteGroup] = @noteGroupId
and [Note] like('%'+@search+'%')
order by Note asc)
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](32) NULL,
	[MiddleName] [nvarchar](32) NULL,
	[LastName] [nvarchar](32) NULL,
	[Email] [nvarchar](32) NULL,
	[Phone] [nvarchar](14) NULL,
	[Login] [int] NULL,
 CONSTRAINT [PK__Customer__3213E83F634540CB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Address] [nvarchar](255) NULL,
	[TotalPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ShowOrderAll]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ShowOrderAll]
(

)
returns table
as return
(select O.id, 
C.LastName + ' ' + C.FirstName + ' ' + C.LastName
as 'Customer',
OrderDate,
Address,
TotalPrice
from [dbo].[Order] O
join Customer C on C.id = O.Customer)
GO
/****** Object:  UserDefinedFunction [dbo].[SearchOrder]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[SearchOrder]
(
@search nvarchar(64),
@dateAft datetime,
@dateBef datetime
)
returns table
as return
(
select * from ShowOrderAll() 
where (Customer like('%'+@search+'%')
or Address like('%'+@search+'%'))
and OrderDate >= @dateAft
and OrderDate <=@dateBef
)
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [int] NULL,
	[ProductCategory] [int] NULL,
	[Aroma] [int] NULL,
	[Volume] [int] NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](32) NOT NULL,
	[Password] [nvarchar](32) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aroma]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aroma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Aroma] [nvarchar](64) NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK__Aromas__3213E83F755EE6A8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[Customer] [int] NULL,
	[AromaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAromaFromFavorite]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetAromaFromFavorite]
(
@id int
)
returns table as return
(
select A.Aroma from Aroma A
join Product P on P.Aroma = A.id
join ProductType PT on PT.id = P.ProductType
join Favorite F on F.AromaId = A.Id
join Customer C on C.id = F.Customer
join [dbo].[User] U on U.id = C.Login
where U.id = @id
group by A.Aroma
)
GO
/****** Object:  Table [dbo].[AromaGroup]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AromaGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AromaGroup] [nvarchar](32) NULL,
	[Image] [nvarchar](128) NULL,
 CONSTRAINT [PK__AromasGr__3213E83FED49DFFF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AromaGroupInAroma]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AromaGroupInAroma](
	[Aroma] [int] NULL,
	[AromaGroup] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volume]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volume](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Volume] [int] NULL,
 CONSTRAINT [PK__Volumes__3213E83FA0080133] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteInAroma]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteInAroma](
	[Aroma] [int] NULL,
	[NoteClass] [int] NULL,
	[Note] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[SearchAroma]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[SearchAroma]
(
@aromasGroup nvarchar(64),
@productType nvarchar(64),
@search nvarchar(64)
)
returns table as return
(
select A.[id],A.[Aroma],[Description],PT.Type,MIN([Price]) as 'MinPrice', Min(V.Volume) as 'MinVolume'
                 from Aroma A join Product P on P.Aroma = A.id 
                 join ProductType PT on PT.id = P.ProductType 
                 join AromaGroupInAroma AGA on AGA.Aroma = A.id 
                 join Volume V on V.id = P.Volume 
				 join AromaGroup AG on AG.id = AGA.AromaGroup
				 join NoteInAroma NIA on NIA.Aroma = A.id
				 join Note N on N.id = NIA.Note
                 where AG.AromaGroup like('%'+@aromasGroup+'%')
				 and PT.Type like('%' +@productType+ '%')
				 and (A.Description like('%' + @search + '%')
				 or A.Aroma like('%' + @search + '%') 
				 or AG.AromaGroup like('%' + @search + '%')
				 or PT.Type like('%' + @search + '%')
				 or N.Note like('%' + @search + '%'))
                 group by A.[id], A.[Aroma],[Description], PT.Type
)
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Basket]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basket](
	[Customer] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductFromBasket]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetProductFromBasket]
(
@id int
)
returns table as return
(
select P.id,PT.Type,PC.Category,A.Aroma,V.Volume,Price,B.Quantity from Product P
join ProductType PT on PT.id = P.ProductType
join ProductCategory PC on PC.id = P.ProductCategory
join Volume V on V.id = P.Volume
join Aroma A on A.id = P.Aroma
join Basket B on B.ProductId = P.id
join Customer C on C.id = B.Customer
join [dbo].[User] U on U.id = C.Login
where U.id = @id
group by P.id,PT.Type,PC.Category,A.Aroma,V.Volume,Price,B.Quantity
)
GO
/****** Object:  UserDefinedFunction [dbo].[IsLoginTaken]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  function [dbo].[IsLoginTaken]
(
@login nvarchar(32)
)
returns table as return
(select * from [dbo].[User]
where Login = @login)
GO
/****** Object:  UserDefinedFunction [dbo].[IsLoginExists]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  function [dbo].[IsLoginExists]
(
@login nvarchar(32)
)
returns table as return
(select * from [dbo].[User]
where Login = @login)
GO
/****** Object:  UserDefinedFunction [dbo].[IsEmailTaken]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[IsEmailTaken]
(
@email nvarchar(32)
)
returns table as return
(
select * from [dbo].[Customer]
where Email = @email)
GO
/****** Object:  UserDefinedFunction [dbo].[IsPhoneTaken]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[IsPhoneTaken]
(
@phone nvarchar(14)
)
returns table as return
(
select * from [dbo].[Customer]
where Phone = @phone)
GO
/****** Object:  UserDefinedFunction [dbo].[GetProfileByUserId]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetProfileByUserId]
(
@userId int
)
returns table as return
(
select U.Login, U.Password, C.id, C.FirstName, C.MiddleName, C.LastName, C.Email, C.Phone 
from Customer C
join [dbo].[User] U on U.id = C.Login
where U.id = @userId
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetFavoriteProduct]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetFavoriteProduct]
(
@id int
)
returns table as return
(
select A.id, A.Aroma, A.Description, PT.Type, Min(P.Price) as MinPrice from Aroma A
join Product P on P.Aroma = A.id
join ProductType PT on PT.id = P.ProductType
join Favorite F on F.AromaId = A.Id
where F.Customer = @id
group by A.id, A.Aroma, A.Description, PT.Type
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetFavoriteAroma]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetFavoriteAroma]
(
@id int
)
returns table as return
(
select A.id, A.Aroma, A.Description, PT.Type, Min(P.Price) as MinPrice, Min(V.Volume) as MinVolume
from Aroma A
join Product P on P.Aroma = A.id
join ProductType PT on PT.id = P.ProductType
join Favorite F on F.AromaId = A.Id
join Customer C on C.id = F.Customer
join [dbo].[User] U on U.id = C.Login
join Volume V on V.id = P.Volume
where U.id = @id
group by A.id, A.Aroma, A.Description, PT.Type
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductIdFromFavorite]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetProductIdFromFavorite]
(
@id int
)
returns table as return
(
select P.id from Aroma A
join Product P on P.Aroma = A.id
join ProductType PT on PT.id = P.ProductType
join Favorite F on F.AromaId = A.Id
join Customer C on C.id = F.Customer
join [dbo].[User] U on U.id = C.Login
where U.id = @id
group by P.id
)
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[id] [int] NULL,
	[Product] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ShowOrderInfo]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ShowOrderInfo]
(
@orderId int
)
returns table as return
(
select P.id,PT.Type,PC.Category,A.Aroma,V.Volume,Price,OI.Quantity from dbo.[Order] O
join OrderInfo OI on OI.id = O.id
join Product P on P.id = OI.Product
join ProductType PT on PT.id = P.ProductType
join ProductCategory PC on PC.id = P.ProductCategory
join Volume V on V.id = P.Volume
join Aroma A on A.id = P.Aroma
where O.id = @orderId
group by P.id,PT.Type,PC.Category,A.Aroma,V.Volume,Price,OI.Quantity
)
GO
/****** Object:  UserDefinedFunction [dbo].[ShowOrder]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ShowOrder]
(
@userId int
)
returns table as return
(
select O.id,[OrderDate],[Address],[TotalPrice] from dbo.[Order] O
join Customer C on C.id = O.Customer
join [dbo].[User] U on U.id = C.Login
where U.id = @userId
)
GO
/****** Object:  View [dbo].[vProducts]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vProducts]
as
select P.id, PT.Type, PC.Category, A.Aroma, V.Volume, Price  from Products P
join Aromas A on A.id = P.Aroma
join ProductsCategories PC on PC.id = P.ProductCategory
join ProductsTypes PT on PT.id = P.ProductType
join Volumes V on V.id = P.Volume
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](32) NULL,
	[MiddleName] [nvarchar](32) NULL,
	[LastName] [nvarchar](32) NULL,
	[Email] [nvarchar](32) NULL,
	[Phone] [nvarchar](11) NULL,
	[Address] [nvarchar](255) NULL,
	[Login] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteClass]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteClass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Class] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteGroup]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NoteGroup] [nvarchar](32) NULL,
	[Image] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 23.05.2024 9:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](32) NULL,
 CONSTRAINT [PK__Roles__3213E83F8069CB3B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aroma] ON 

INSERT [dbo].[Aroma] ([id], [Aroma], [Description]) VALUES (1, N'Аромат №1', N'Красный — цвет страсти! Он очаровывает и пьянит, его тепло наполнено спокойной уверенностью и силой. Амели и Пьер выбрали для его воплощения ароматную смесь кубинского табака и карибских пряностей, создав парфюмерный пейзаж вечернего неба окрашенного в бордовые оттенки лучами заходящего в карибское море солнца.')
INSERT [dbo].[Aroma] ([id], [Aroma], [Description]) VALUES (2, N'Аромат №2', N'Аромат №2')
INSERT [dbo].[Aroma] ([id], [Aroma], [Description]) VALUES (3, N'Аромат №3', N'Аромат №3')
SET IDENTITY_INSERT [dbo].[Aroma] OFF
GO
SET IDENTITY_INSERT [dbo].[AromaGroup] ON 

INSERT [dbo].[AromaGroup] ([id], [AromaGroup], [Image]) VALUES (1, N'Древесные', N'/Resources/AromasGroups/Древесные.jpg')
INSERT [dbo].[AromaGroup] ([id], [AromaGroup], [Image]) VALUES (2, N'Восточные', N'/Resources/AromasGroups/Восточные.jpg')
INSERT [dbo].[AromaGroup] ([id], [AromaGroup], [Image]) VALUES (3, N'Цитрусовые', N'/Resources/AromasGroups/Цитрусовые.jpg ')
SET IDENTITY_INSERT [dbo].[AromaGroup] OFF
GO
INSERT [dbo].[AromaGroupInAroma] ([Aroma], [AromaGroup]) VALUES (1, 1)
INSERT [dbo].[AromaGroupInAroma] ([Aroma], [AromaGroup]) VALUES (1, 2)
INSERT [dbo].[AromaGroupInAroma] ([Aroma], [AromaGroup]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Login]) VALUES (1, N'Mike', N'M.', N'Tyson', N'tyson@gmail.com', N'111', 5)
INSERT [dbo].[Customer] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Login]) VALUES (2, N'John', N'J.', N'Malkovich', N'john@yahoo.com', N'222', 6)
INSERT [dbo].[Customer] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Login]) VALUES (3, N'Jack', N'J.', N'Herer', N'jack@outlook.com', N'333', 7)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Address], [Login]) VALUES (1, N'A.', N'A.', N'Admin', N'admin@corpmail.com', N'2813308004', N'Admin Street, 1', 1)
INSERT [dbo].[Employee] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Address], [Login]) VALUES (2, N'Ludwig.', N'L.', N'O`Ludwig', N'ludwig@corpmail.com', N'1110001111', N'Ludwig Street, 1', 2)
INSERT [dbo].[Employee] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Address], [Login]) VALUES (3, N'Donald.', N'Donaldson', N'McDonald', N'donald@corpmail.com', N'2221112200', N'Donald Street, 2', 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[Favorite] ([Customer], [AromaId]) VALUES (9, 1)
INSERT [dbo].[Favorite] ([Customer], [AromaId]) VALUES (9, 7)
INSERT [dbo].[Favorite] ([Customer], [AromaId]) VALUES (1, 9)
GO
SET IDENTITY_INSERT [dbo].[Note] ON 

INSERT [dbo].[Note] ([id], [Note], [NoteGroup]) VALUES (1, N'Бергамот', 1)
INSERT [dbo].[Note] ([id], [Note], [NoteGroup]) VALUES (2, N'Мандарин', 1)
INSERT [dbo].[Note] ([id], [Note], [NoteGroup]) VALUES (3, N'Грейпфрут', 1)
GO
SET IDENTITY_INSERT [dbo].[Note] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteClass] ON 

INSERT [dbo].[NoteClass] ([id], [Class]) VALUES (1, N'Верхние ноты')
INSERT [dbo].[NoteClass] ([id], [Class]) VALUES (2, N'Средние ноты')
INSERT [dbo].[NoteClass] ([id], [Class]) VALUES (3, N'Базовые ноты')
SET IDENTITY_INSERT [dbo].[NoteClass] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteGroup] ON 

INSERT [dbo].[NoteGroup] ([id], [NoteGroup], [Image]) VALUES (1, N'Цитрусовые', N'/Resources/AromasGroups/Цитрусовые.jpg')
INSERT [dbo].[NoteGroup] ([id], [NoteGroup], [Image]) VALUES (2, N'Фруктовые', N'/Resources/AromasGroups/Фруктовые.jpg')
INSERT [dbo].[NoteGroup] ([id], [NoteGroup], [Image]) VALUES (3, N'Цветочные', N'/Resources/AromasGroups/Цветочные.jpg')
SET IDENTITY_INSERT [dbo].[NoteGroup] OFF
GO
INSERT [dbo].[NoteInAroma] ([Aroma], [NoteClass], [Note]) VALUES (1, 1, 1992)
INSERT [dbo].[NoteInAroma] ([Aroma], [NoteClass], [Note]) VALUES (1, 1, 1990)
INSERT [dbo].[NoteInAroma] ([Aroma], [NoteClass], [Note]) VALUES (1, 1, 2123)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [Customer], [OrderDate], [Address], [TotalPrice]) VALUES (1, 4, CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Wall Street, 14', 32000)
INSERT [dbo].[Order] ([id], [Customer], [OrderDate], [Address], [TotalPrice]) VALUES (2, 9, CAST(N'2023-12-14T19:49:35.753' AS DateTime), N'test', 5000)
INSERT [dbo].[Order] ([id], [Customer], [OrderDate], [Address], [TotalPrice]) VALUES (3, 9, CAST(N'2023-12-15T13:30:18.413' AS DateTime), N'фывмфмвы', 800)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderInfo] ([id], [Product], [Quantity]) VALUES (1, 3, 1)
INSERT [dbo].[OrderInfo] ([id], [Product], [Quantity]) VALUES (2, 1, 2)
INSERT [dbo].[OrderInfo] ([id], [Product], [Quantity]) VALUES (3, 19, 1)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [ProductType], [ProductCategory], [Aroma], [Volume], [Price]) VALUES (1, 5, 3, 1, 1, 2500)
INSERT [dbo].[Product] ([id], [ProductType], [ProductCategory], [Aroma], [Volume], [Price]) VALUES (2, 5, 3, 1, 4, 22000)
INSERT [dbo].[Product] ([id], [ProductType], [ProductCategory], [Aroma], [Volume], [Price]) VALUES (3, 5, 3, 1, 5, 32000)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([id], [Category]) VALUES (1, N'Женский')
INSERT [dbo].[ProductCategory] ([id], [Category]) VALUES (2, N'Мужской')
INSERT [dbo].[ProductCategory] ([id], [Category]) VALUES (3, N'Унисекс')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([id], [Type]) VALUES (1, N'Душистая вода')
INSERT [dbo].[ProductType] ([id], [Type]) VALUES (2, N'Одеколон')
INSERT [dbo].[ProductType] ([id], [Type]) VALUES (3, N'Туалетная вода')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([id], [Role]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [Login], [Password], [Role]) VALUES (1, N'admin', N'1', 1)
INSERT [dbo].[User] ([id], [Login], [Password], [Role]) VALUES (2, N'user1', N'1', 2)
INSERT [dbo].[User] ([id], [Login], [Password], [Role]) VALUES (3, N'user2', N'2', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Volume] ON 

INSERT [dbo].[Volume] ([id], [Volume]) VALUES (1, 5)
INSERT [dbo].[Volume] ([id], [Volume]) VALUES (2, 15)
INSERT [dbo].[Volume] ([id], [Volume]) VALUES (3, 30)
SET IDENTITY_INSERT [dbo].[Volume] OFF
GO
ALTER TABLE [dbo].[AromaGroupInAroma]  WITH CHECK ADD  CONSTRAINT [FK__AromasGro__Aroma__403A8C7D] FOREIGN KEY([Aroma])
REFERENCES [dbo].[Aroma] ([id])
GO
ALTER TABLE [dbo].[AromaGroupInAroma] CHECK CONSTRAINT [FK__AromasGro__Aroma__403A8C7D]
GO
ALTER TABLE [dbo].[AromaGroupInAroma]  WITH CHECK ADD  CONSTRAINT [FK__AromasGro__Aroma__534D60F1] FOREIGN KEY([AromaGroup])
REFERENCES [dbo].[AromaGroup] ([id])
GO
ALTER TABLE [dbo].[AromaGroupInAroma] CHECK CONSTRAINT [FK__AromasGro__Aroma__534D60F1]
GO
ALTER TABLE [dbo].[Basket]  WITH CHECK ADD FOREIGN KEY([Customer])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([Login])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users] FOREIGN KEY([Login])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employees_Users]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD FOREIGN KEY([Customer])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Note]  WITH CHECK ADD  CONSTRAINT [FK__Notes__NoteGroup__34C8D9D1] FOREIGN KEY([NoteGroup])
REFERENCES [dbo].[NoteGroup] ([id])
GO
ALTER TABLE [dbo].[Note] CHECK CONSTRAINT [FK__Notes__NoteGroup__34C8D9D1]
GO
ALTER TABLE [dbo].[NoteInAroma]  WITH CHECK ADD  CONSTRAINT [FK__NotesInAr__Aroma__44FF419A] FOREIGN KEY([Aroma])
REFERENCES [dbo].[Aroma] ([id])
GO
ALTER TABLE [dbo].[NoteInAroma] CHECK CONSTRAINT [FK__NotesInAr__Aroma__44FF419A]
GO
ALTER TABLE [dbo].[NoteInAroma]  WITH CHECK ADD FOREIGN KEY([NoteClass])
REFERENCES [dbo].[NoteClass] ([id])
GO
ALTER TABLE [dbo].[NoteInAroma]  WITH CHECK ADD  CONSTRAINT [FK__NotesInAro__Note__3B75D760] FOREIGN KEY([Note])
REFERENCES [dbo].[Note] ([id])
GO
ALTER TABLE [dbo].[NoteInAroma] CHECK CONSTRAINT [FK__NotesInAro__Note__3B75D760]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__47DBAE45] FOREIGN KEY([Customer])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Orders__Customer__47DBAE45]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([Product])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Products__Aroma__4AB81AF0] FOREIGN KEY([Aroma])
REFERENCES [dbo].[Aroma] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Products__Aroma__4AB81AF0]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductType])
REFERENCES [dbo].[ProductType] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductCategory])
REFERENCES [dbo].[ProductCategory] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Products__Volume__46E78A0C] FOREIGN KEY([Volume])
REFERENCES [dbo].[Volume] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Products__Volume__46E78A0C]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__Users__Role__267ABA7A] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__Users__Role__267ABA7A]
GO
/****** Object:  StoredProcedure [dbo].[AddAroma]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddAroma]
(
	@Aroma nvarchar(64),
	@Description nvarchar(512),
	@AromaGroup nvarchar(32)
)
as
begin

	declare @AromaId int
	set @AromaId = (select id from Aroma
	where Aroma = @Aroma)
	
	if (ISNULL(@AromaId, 0) = 0)
	begin
		insert into [dbo].[Aroma](Aroma,[dbo].[Aroma].Description)
	values (@Aroma,@Description)
	end;

	set @AromaId = (select id from Aroma
	where Aroma = @Aroma)

	declare @AromaGroupId int
	set @AromaGroupId = (select id from AromaGroup 
	where AromaGroup = @AromaGroup)

	insert into [dbo].[AromaGroupInAroma]
	values (@AromaId, @AromaGroupId)

end
GO
/****** Object:  StoredProcedure [dbo].[AddNoteToAroma]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddNoteToAroma]
(
	@Aroma nvarchar(64),
	@NoteClassId int,
	@NoteId int
)
as
begin
	declare @AromaId int
	set @AromaId = (select id from Aroma
	where Aroma = @Aroma)

	insert into [dbo].[NoteInAroma]
	values (@AromaId, @NoteClassId, @NoteId)
end
GO
/****** Object:  StoredProcedure [dbo].[AddProductToAroma]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddProductToAroma]
(
	@ProductTypeId int,
	@ProductCategoryId int,
	@AromaId int,
	@VolumeId int,
	@Price int
)
as
begin

	declare @ProductExists int
	set @ProductExists = (select id from Product 
	where Aroma = @AromaId and ProductType = @ProductTypeId and Volume = @VolumeId)

	if (ISNULL(@ProductExists,0) = 0)
	begin
		insert into [dbo].[Product]([ProductType],
		[ProductCategory],[Aroma],[Volume],[Price])
		values (@ProductTypeId, @ProductCategoryId,@AromaId,@VolumeId,@Price)
	end

end;
GO
/****** Object:  StoredProcedure [dbo].[AddProductToBasket]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddProductToBasket]
(
@userId int,
@productId int
)
as
begin

declare @cId int
set @cId = (select C.id from Customer C
join dbo.[User] U on U.id = C.Login
where U.id = @userId)

declare @q int
set @q = 0
set @q = @q + ISNULL((select Quantity from Basket B
join Customer C on C.id = B.Customer
join dbo.[User] U on U.id = C.Login
where U.id = @userId
and B.ProductId = @productId),0)

if (@q = 0)
begin
insert into Basket
values (@cId, @productId, 1)
end;

else
begin
update Basket
set Quantity = Quantity + 1
where Customer = @cId
and ProductId = @productId
end;

end;
GO
/****** Object:  StoredProcedure [dbo].[CreateOrder]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CreateOrder]
(
@userId int,
@date Datetime,
@address nvarchar(255)
)
as
begin

declare @cId int
set @cId = (select C.id from Customer C
join dbo.[User] U on U.id = C.Login
where U.id = @userId)

insert into dbo.[Order](Customer, OrderDate, Address, TotalPrice)
values
(@cId, @date, @address, 0)

declare @oId int
set @oId = (select id from dbo.[Order]
where Customer = @cId
and OrderDate = @date
and Address = @address
and TotalPrice = 0)

end;
GO
/****** Object:  StoredProcedure [dbo].[CreateOrderInfo]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CreateOrderInfo]
(
@orderId int,
@productId int,
@quantity int
)
as 
begin

declare @cId int
set @cId = (select Customer from dbo.[Order]
where id = @orderId)

insert into OrderInfo
values
(@orderId, @productId, @quantity)

declare @totalPrice int
set @totalPrice = (select Price from Product
where id = @productId) * @quantity

update dbo.[Order]
set TotalPrice = TotalPrice + @totalPrice
where id = @orderId

delete from Basket
where Customer = @cId
and ProductId = @productId

end;
GO
/****** Object:  StoredProcedure [dbo].[DeleteFromBasket]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteFromBasket]
(
@userId int,
@productId int
)
as 
begin

declare @cId int
set @cId = (select C.id from Customer C
join dbo.[User] U on U.id = C.Login
where U.id = @userId)

delete from Basket
where Customer = @cId
and ProductId = @productId

end;
GO
/****** Object:  StoredProcedure [dbo].[EditUser]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditUser]
(
@id int,
@login nvarchar(32),
@password nvarchar(32),
@f nvarchar(32),
@m nvarchar(32),
@l nvarchar(32),
@email nvarchar(32),
@phone nvarchar(32)
)
as begin

update Customer
set FirstName = @f
where id = @id

update Customer
set MiddleName = @m
where id = @id

update Customer
set LastName = @l
where id = @id

update Customer
set Email = @email
where id = @id

update Customer
set Phone = @phone
where id = @id

update dbo.[User]
set Password = @password
where Login = @login

end;
GO
/****** Object:  StoredProcedure [dbo].[EditUserWithoutPassword]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditUserWithoutPassword]
(
@id int,
@f nvarchar(32),
@m nvarchar(32),
@l nvarchar(32),
@email nvarchar(32),
@phone nvarchar(32)
)
as begin

update Customer
set FirstName = @f
where id = @id

update Customer
set MiddleName = @m
where id = @id

update Customer
set LastName = @l
where id = @id

update Customer
set Email = @email
where id = @id

update Customer
set Phone = @phone
where id = @id

end;
GO
/****** Object:  StoredProcedure [dbo].[MarkAsFavorite]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MarkAsFavorite]
(
@userId int,
@aroma nvarchar(64)
)
as
begin

declare @customerId int
set @customerId = (select C.id from Customer C
join dbo.[User] U on U.id = C.Login
where U.id = @userId)

declare @aromaId int
set @aromaId = (select A.id from Aroma A
where A.Aroma = @aroma)

if exists(
select TOP(1) F.Customer, F.AromaId from Favorite F
join Aroma A on A.id = F.AromaId
join Product P on P.Aroma = A.id
join Customer C on C.id = F.Customer
join dbo.[User] U on U.id = C.Login
where U.id = @userId
and A.Aroma = @aroma
)
begin


delete from Favorite
where Customer = @customerId
and AromaId = @aromaId
end;

else
begin

insert into Favorite values
(@customerId, @aromaId)

end;
end;
GO
/****** Object:  StoredProcedure [dbo].[RegisterNewUser]    Script Date: 23.05.2024 9:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RegisterNewUser]
(
@login nvarchar(32),
@password nvarchar(32),
@f nvarchar(32),
@m nvarchar(32),
@l nvarchar(32),
@email nvarchar(32),
@phone nvarchar(32)
)
as begin

if not exists(
select * from [dbo].[Customer]
where [FirstName] = @f
and [MiddleName] = @m
and [LastName] = @l)
begin

if not exists(
select * from [dbo].[User]
where Login = @login)
begin

insert into [dbo].[User]([Login],[Password],[Role])
values (@login, @password, 2)

declare @userId int
set @userId = (select id from [dbo].[User] 
where Login = @Login)

insert into [dbo].[Customer]([FirstName],[MiddleName],[LastName],[Email],[Phone],[Login])
values (@f,@m,@l,@email,@phone,@userId)

end;
end;
end;
GO
USE [master]
GO
